@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding:0;
    margin:0;
    font-family: "KoHo", sans-serif ;
}
body{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
header{
    width:100%;
    height:60px;
    padding:5px 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index:2;
}
header #logo{
    width:40%;
    display: flex;
    align-items: center;
}
header #logo h2{
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color:#00bfff;
}
header nav{
    width:30%;
    display: flex;
    align-items: center;
}
header nav #nav-links{
    width: 100%;
    background-color: #fffbf6;
    list-style: none;
    display:flex;
    justify-content: space-around;
}
.nav-item>a{
    text-decoration: none;
    color:#000;
    transition: all 0.2s ease-in-out;
}
.nav-item>a:hover{
   color:#00bfff;
   padding-left: 4px;

}
/* Hero-Section */
#hero-section{
    width:100%;
    height:100%;
    z-index: -1;
    margin-bottom: 50px;
    animation:transitionIn 1.5s;
}
#hero-section .wrapper{
    width:92%;
    height:100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#hero-section .wrapper .text{
    width:60%;
    height:100%;
    font-size: 16px;
}
#hero-section .wrapper .text>h1{
    font-size: 3.5em;
    width:70%;
}
#hero-section .wrapper .text h1 span{
    color:#00bfff;
}
#hero-section .wrapper .text a{
    background-color:#00bfff;
    padding:9px;
    border-radius: 50px;
    color:white;
    text-decoration: none;
}
#hero-section .wrapper .text p{
    padding: 10px;
}
#hero-section .wrapper .text #pg{
    margin-bottom: 30px;
}
/* ing */
#abt{
    width:100%;
    margin-bottom: 50px;
}
#abt .wrapper{
    width:92%;
    margin:auto;
}
#abt .wrapper h2{
    font-size: 2em;
}
#abt #ing-content{
    width:100%;
    margin:auto;
    margin-top: 25px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#abt #ing-content .card{
    width:20%;
    height:55px;
    box-shadow: 0px 3px 7px 3px rgba(0,0,0,0.2);
    background-color:white;
    transition:all 0.2s ease-in-out;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color:#00bfff;
}
#abt #ing-content .card:hover{
    transform:scale(1.1);
    cursor:pointer;
}
/* about */
#about{
    width:100%; 
    height:100%;
    z-index: -1;
    margin-bottom: 50px; 
    transition: all .40s ease;   
    transform: translateX(10px);    
}
#about .wrapper{
width:92%;
height:100%;
gap:50px;
margin: auto;
display: flex;
align-items: center;
}
#about .wrapper .image{
width:45%;
}
#about .wrapper .image img{
width:480px;
filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.2)); 
}
#about .wrapper .text{
width:50%;
height:100%;
font-size: 16px;
}
#about .wrapper .text>h1{
font-size: 3.5em;
width:100%;
}
#about .wrapper .text h1 span{
color:#00bfff;
}
#about .wrapper .text p{
padding:12px 0px;
}
/* footer contents */
footer{
    width:100%;
    height:100%;
    background-color: #eee;
}
footer .wrapper{
    width:48%;
    margin:auto;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
footer .wrapper .serv #servitems{
     list-style: none; 
}
footer .wrapper .serv #servitems li:hover{
    cursor: pointer;
    color:#00bfff;
    padding-left: 4px;
}
footer .wrapper .del #delitems{
    list-style: none; 
}
footer .wrapper .del #delitems li:hover{
   cursor: pointer;
   color:#00bfff;
   padding-left: 4px;
}
footer .wrapper .con #conitems{
    list-style: none; 
}
footer .wrapper .con #conitems li:hover{
   cursor: pointer;
   color:#00bfff;
   padding-left: 4px;
}
footer .wrapper .follow #folitems{
    list-style: none; 
}
footer .wrapper .follow #folitems li:hover{
   cursor: pointer;
   color:#00bfff;
   padding-left: 4px;
}
footer .wrapper li{
    transition:0.2s ease-in-out;
   }
   @keyframes transitionIn{
    from{
      opacity:0;
      transform: rotateX(-5deg);
       
    }
    to{
        opacity:1;
        transform: rotateX(0);
    }
}